<p>
  This is an archive of content created around skateboarding, mostly during our collective childhoods. It aims to collect, preserve and provide accessiblity to everyone involved.
</p>

<p>
  The fish logo was created by Rich for the original "inveigle.ca" website.
</p>

<p>
  The site is setup such that it will not show up in search engines.
</p>

<p>
  This website and all media files can be downloaded as a single archive <a href="https://github.com/davidhampgonsalves/inveigle-archive">here</a>.
</p>

<hr />

<p>
  Questions, comments and removal requests can be sent to <a href="mailto:davidhampgonsalves@gmail.com">davidhampgonsalves@gmail.com</a>.
</p>
