{{#videos}}
  <div class=video>
    <div class=video-details>
      <h2>{{ title }}{{#year}} ({{year}}){{/year}}</h2>
      <ul>
        <li>{{#creator}}by: {{creator}}{{/creator}}</li>
        <li><a href="{{download_url}}.mp4" download><img class=icon src=assets/download-icon.svg />download</a></li>
        {{#watch_url}}
          <li>
            {{#vimeo_embed_url}}<img class=icon src=assets/vimeo.svg>{{/vimeo_embed_url}}
            {{#youtube_embed_url}}<img class=icon src=assets/youtube.svg>{{/youtube_embed_url}}
            <a href="{{watch_url}}">watch</a>
          </li>
        {{/watch_url}}

        {{#extras}}
          <div style="display:none;" id="{{id}}">
            <video class="lg-video-object lg-html5" controls preload="none">
              <source src="{{url}}.mp4" type="video/mp4">
            </video>
          </div>
        {{/extras}}

        {{#has_extras}}
          <li>
            <img class=icon src=assets/gift.svg>extras:
            <ul class=extras>
        {{/has_extras}}

        {{#extras}}
          <li data-html="#{{id}}"><a href="{{url}}.mp4">{{title}}</a></li>
        {{/extras}}

        {{#has_extras}}
          </ul>
        </li>
        {{/has_extras}}
      </ul>

      <div class=gallery>
        {{#images}}
          <a href="{{.}}">
            <img src="{{.}}">
          </a>
        {{/images}}
      </div>
    </div>

    {{#cover}}
      <div class=video-container>
        <video controls poster="{{cover}}" preload="none">
          <source src="{{download_url}}.mp4" type="video/mp4">
          Your browser doesn't support HTML5 video tag.
        </video>
      </div>
    {{/cover}}
  </div>
{{/videos}}

<script>
  window.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll(".gallery").forEach(function(g) {
      lightGallery(g, {
        thumbnail: true,
        animateThumb: true,
        showThumbByDefault: true
      });
    });

    document.querySelectorAll(".extras").forEach(function(g) {
      lightGallery(g, { });
    });
  });
</script>
